In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

%config Completer.use_jedi = False  # 자동완성 속도 증가

In [71]:
pc_path = 'C:/k_digital/source/data/cam_data/Data.csv'
fanuc_path = 'C:/k_digital/source/data/cam_data/fanuc.csv'
# pc = pd.read_csv(pc_path, parse_dates=['time'], index_col='time')
# fanuc = pd.read_csv(fanuc_path, parse_dates=['time'], index_col='time')
pc = pd.read_csv(pc_path)
fanuc = pd.read_csv(fanuc_path)
pc = pc.drop('name', axis=1)
fanuc = fanuc.drop('name', axis=1)

In [73]:
print(pc.shape)
print(fanuc.shape)

(438758, 16)
(148599, 12)

In [74]:
print(pc.info())
print(fanuc.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438758 entries, 0 to 438757
Data columns (total 16 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   time         438758 non-null  int64
 1   Irsm1        438758 non-null  float64
 2   Irsm2        438758 non-null  float64
 3   Irsm3        438758 non-null  float64
 4   currvolt1    438758 non-null  float64
 5   currvolt2    438758 non-null  float64
 6   currvolt3    438758 non-null  int64
 7   currvolt4    438758 non-null  float64
 8   humidity     438758 non-null  float64
 9   input1       438758 non-null  int64
 10  input2       438758 non-null  int64
 11  input3       438758 non-null  int64
 12  input4       438758 non-null  int64
 13  temp1        438758 non-null  int64
 14  temp2        438758 non-null  int64
 15  temperature  438758 non-null  float64
dtypes: float64(8), int64(8)
memory usage: 53.6 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148599 entries, 0 to 148598
Data columns (total 12 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   time                           148599 non-null  int64
 1   Automatic Driving              148599 non-null  int64
 2   GW DRESSING INTERVAL           148599 non-null  int64
 3   GW WHEEL REMAIN                148599 non-null  float64
 4   Macual Automatic Mode          148599 non-null  int64
 5   Manual Automatic               148599 non-null  int64
 6   PART COUNTER                   148599 non-null  int64
 7   RW DRESSING INTERVAL           148599 non-null  int64
 8   RW WHEEL REMAIN                148599 non-null  float64
 9   Status of automatic operation  148599 non-null  int64
 10  Status of axis movement        148599 non-null  int64
 11  TOTAL_COUNTER                  148599 non-null  int64
dtypes: float64(2), int64(10)
memory usage: 13.6 MB
None

In [75]:
pc.head()

,time,Irsm1,Irsm2,Irsm3,currvolt1,currvolt2,currvolt3,currvolt4,humidity,input1,input2,input3,input4,temp1,temp2,temperature
0,1667547533508363000,0.06,0.09,44.14,0.03,4.21,0,0.33,11.09,0,0,0,0,0,0,35.59
1,1667547534507849000,0.09,0.07,46.91,0.03,4.22,0,0.35,11.12,0,0,0,0,0,0,35.59
2,1667547535507067000,0.10,0.09,45.57,0.03,4.21,0,0.33,11.12,0,0,0,0,0,0,35.57
3,1667547536506512000,0.06,0.12,46.12,0.03,4.21,0,0.33,11.12,0,0,0,0,0,0,35.57
4,1667547537504720000,0.07,0.08,46.72,0.03,4.21,0,0.33,11.12,0,0,0,0,0,0,35.57

In [76]:
fanuc.head()

,time,Automatic Driving,GW DRESSING INTERVAL,GW WHEEL REMAIN,Macual Automatic Mode,Manual Automatic,PART COUNTER,RW DRESSING INTERVAL,RW WHEEL REMAIN,Status of automatic operation,Status of axis movement,TOTAL_COUNTER
0,1667547588228899000,0,0,39.6198,0,0,0,630,10.1468,0,0,0
1,1667547589226802000,0,0,39.6198,0,0,0,630,10.1468,0,0,0
2,1667547590247180000,0,0,39.6198,0,0,0,630,10.1468,0,0,0
3,1667547591268892000,0,0,39.6198,0,0,0,630,10.1468,0,0,0
4,1667547592288630000,0,0,39.6198,0,0,0,630,10.1468,0,0,0

In [85]:
datetime.fromtimestamp((pc.time/100000000000)[0])

datetime.datetime(1970, 7, 13, 9, 4, 35, 335084)

In [86]:
datetime.fromtimestamp((pc.time/100000000000)[1])

datetime.datetime(1970, 7, 13, 9, 4, 35, 345078)

In [77]:
def trans_timestamp(df):
    time = []
    for i in df.time:
        time.append(datetime.fromtimestamp(i))
    df.time = time

In [78]:
trans_timestamp(pc)

OSError: [Errno 22] Invalid argument