In [14]:
    from datetime import datetime

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

%config Completer.use_jedi = False  # 자동완성 속도 증가

In [15]:
pc_path = "C:/k_digital/source/data/cam_data/Data.csv"
fanuc_path = "C:/k_digital/source/data/cam_data/fanuc.csv"
data_df = pd.read_csv(pc_path)
fanuc_df = pd.read_csv(fanuc_path)
data_df.drop(["name", 'Irsm1', 'Irsm2', 'currvolt1', 'currvolt3', 'input1', 'input2', 'input3', 'input4', 'temp1', 'temp2'], axis=1, inplace=True)
fanuc_df.drop(["name", 'TOTAL_COUNTER', 'PART COUNTER', 'GW DRESSING INTERVAL', 'Manual Automatic', 'Automatic Driving'], axis=1, inplace=True)

In [16]:
def trans_timestamp(df):
    for i in range(len(df.time)):
        df.time[i] = datetime.fromtimestamp(round((df.time[i] / 1000000000), 0))
    print(df.head())

In [18]:
trans_timestamp(data_df)
trans_timestamp(fanuc_df)

C:\Users\minim\AppData\Local\Temp\ipykernel_49204\1411045310.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.time[i] = datetime.fromtimestamp(round((df.time[i] / 1000000000), 0))

                  time  Irsm3  currvolt2  currvolt4  humidity  temperature
0  2022-11-04 16:38:54  44.14       4.21       0.33     11.09        35.59
1  2022-11-04 16:38:55  46.91       4.22       0.35     11.12        35.59
2  2022-11-04 16:38:56  45.57       4.21       0.33     11.12        35.57
3  2022-11-04 16:38:57  46.12       4.21       0.33     11.12        35.57
4  2022-11-04 16:38:58  46.72       4.21       0.33     11.12        35.57

C:\Users\minim\AppData\Local\Temp\ipykernel_49204\1411045310.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.time[i] = datetime.fromtimestamp(round((df.time[i] / 1000000000), 0))

                  time  GW WHEEL REMAIN  Macual Automatic Mode  \
0  2022-11-04 16:39:48          39.6198                      0
1  2022-11-04 16:39:49          39.6198                      0
2  2022-11-04 16:39:50          39.6198                      0
3  2022-11-04 16:39:51          39.6198                      0
4  2022-11-04 16:39:52          39.6198                      0

   RW DRESSING INTERVAL  RW WHEEL REMAIN  Status of automatic operation  \
0                   630          10.1468                              0
1                   630          10.1468                              0
2                   630          10.1468                              0
3                   630          10.1468                              0
4                   630          10.1468                              0

   Status of axis movement
0                        0
1                        0
2                        0
3                        0
4                        0

In [19]:
data_df.to_csv("Data.csv", index=False)
fanuc_df.to_csv("fanuc.csv", index=False)

In [20]:
data_df = pd.read_csv("Data.csv", parse_dates=["time"], index_col="time")
fanuc_df = pd.read_csv("fanuc.csv", parse_dates=["time"], index_col="time")

In [21]:
data_df.head()

                     Irsm3  currvolt2  currvolt4  humidity  temperature
time
2022-11-04 16:38:54  44.14       4.21       0.33     11.09        35.59
2022-11-04 16:38:55  46.91       4.22       0.35     11.12        35.59
2022-11-04 16:38:56  45.57       4.21       0.33     11.12        35.57
2022-11-04 16:38:57  46.12       4.21       0.33     11.12        35.57
2022-11-04 16:38:58  46.72       4.21       0.33     11.12        35.57